<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.szgb.console.cxht.mapper.CxhtFormItemMapper">
    <resultMap id="CxhtFormItem" type="org.szgb.console.cxht.entity.CxhtFormItem" autoMapping="true">
        <id property="id" column="id"/>
        <result property="cxhtForm.id" column="form_id"/>
        <result property="startPart" column="start_part"/>
        <result property="startNumber" column="start_number"/>
        <result property="endPart" column="end_part"/>
        <result property="endNumber" column="end_number"/>
    </resultMap>

    <sql id="CxhtFormItemWhere">
        is_deleted
        = false
        <if test="cxhtForm != null and cxhtForm.id != null">
            AND form_id = #{cxhtForm.id}
        </if>
    </sql>

    <select id="get" resultMap="CxhtFormItem">
        SELECT *
        FROM cxht_form_item
        where is_deleted = false
        and id = #{id}
    </select>

    <select id="findList" resultMap="CxhtFormItem">
        SELECT *
        FROM cxht_form_item
        <where>
            <include refid="CxhtFormItemWhere"/>
        </where>

        <if test="page != null and page.orderBy != null and page.orderBy != ''">
            ORDER BY ${page.orderBy}
        </if>

        <if test="page != null and page.first >= 0 and page.pageSize > 0">
            LIMIT #{page.first}, #{page.pageSize}
        </if>
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM cxht_form_item
        <where>
            <include refid="CxhtFormItemWhere"/>
        </where>
    </select>

    <insert id="insert" parameterType="org.szgb.console.cxht.entity.CxhtFormItem" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO cxht_form_item
        (form_id,
        `loop`,
        start_part,
        start_number,
        end_part,
        end_number,
        created_by,
        updated_by)
        VALUES (
        #{cxhtForm.id},
        #{loop},
        #{startPart},
        #{startNumber},
        #{endPart},
        #{endNumber},
        #{createdBy.id},
        #{updatedBy.id})
    </insert>

    <update id="update" parameterType="org.szgb.console.cxht.entity.CxhtFormItem">
        UPDATE cxht_form_item
        <set>
            <if test="cxhtForm != null and cxhtForm.id != null">
                form_id= #{cxhtForm.id},
            </if>
            <if test="loop != null">
                `loop`= #{loop},
            </if>
            <if test="startPart != null">
                start_part= #{startPart},
            </if>
            <if test="startNumber != null">
                start_number= #{startNumber},
            </if>
            <if test="endPart != null">
                end_part= #{endPart},
            </if>
            <if test="endNumber != null">
                end_number= #{endNumber},
            </if>
            <if test="updatedBy != null and updatedBy.id != null">
                updated_by=#{updatedBy.id},
            </if>
            <if test="isDeleted != null">
                is_deleted=#{isDeleted},
            </if>
            <if test="version != null">
                version=#{version}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE cxht_form_item
        SET is_deleted= TRUE
        where id = #{id}
    </update>
</mapper>