<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.clztoolsconsole.certification.mapper.CertificationMapper">
    <resultMap id="Certification" type="org.example.clztoolsconsole.certification.entity.Certification">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="period" column="period"/>
        <result property="createdAt" column="created_at" javaType="java.util.Date"/>
        <result property="updatedAt" column="updated_at" javaType="java.util.Date"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="version" column="version"/>
        <result property="sortOrder" column="sort_order"/>
    </resultMap>

    <sql id="certificationColumns">
        a.id,
        a.name,
        a.period,
        a.created_at,
        a.updated_at,
        a.is_deleted,
        a.version,
        a.created_by AS "createdBy.id",
        a.updated_by AS "updatedBy.id",
        a.sort_order
    </sql>

    <sql id="certificationJoins">
    </sql>

    <sql id="certificationWhere">
        a.is_deleted = false
        <if test="name != null and name != ''">
            AND a.name Like CONCAT('%',#{name},'%')
        </if>
    </sql>

    <select id="get" resultMap="Certification">
        SELECT
        <include refid="certificationColumns"/>
        FROM certification a
        where a.is_deleted=false
        and a.id = #{id}
    </select>

    <select id="findList" resultMap="Certification">
        SELECT
        <include refid="certificationColumns"/>
        FROM certification a
        <where>
            <include refid="certificationWhere"/>
        </where>

        <if test="page!=null and page.orderBy != null and page.orderBy != ''">
            ORDER BY ${page.orderBy}
        </if>

        <if test="page!=null and page.first >= 0 and page.pageSize > 0">
            LIMIT #{page.first}, #{page.pageSize}
        </if>
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM certification a
        WHERE
        <include refid="certificationWhere"/>
    </select>

    <insert id="insert" parameterType="org.example.clztoolsconsole.certification.entity.Certification">
        INSERT INTO certification
        (name,
         period,
         created_by,
         updated_by)
        VALUES (#{name},
                #{period},
                #{createdBy.id},
                #{updatedBy.id})
    </insert>

    <update id="update" parameterType="org.example.clztoolsconsole.certification.entity.Certification">
        UPDATE certification
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="period != null">
                period=#{period},
            </if>
            <if test="updatedBy != null and updatedBy.id != null">
                updated_by=#{updatedBy.id},
            </if>
            <if test="isDeleted != null">
                is_deleted=#{isDeleted},
            </if>
            <if test="version != null">
                version=#{version}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE certification
        SET is_deleted= TRUE
        where id = #{id}
    </update>
</mapper>