<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.szgb.console.sys.user.mapper.SysUserRoleMapper">
    <resultMap id="SysUserRole" type="org.szgb.console.sys.user.entity.SysUserRole">
        <id property="id" column="id"/>
        <result property="createdAt" column="created_at" javaType="java.util.Date"/>
        <result property="updatedAt" column="updated_at" javaType="java.util.Date"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="version" column="version"/>
        <result property="sortOrder" column="sort_order"/>
    </resultMap>

    <sql id="userRoleColumns">
        a.id,
        a.user_id    AS "user.id",
        a.role_id    AS "role.id",
        a.created_at,
        a.updated_at,
        a.is_deleted,
        a.version,
        a.created_by AS "createdBy.id",
        a.updated_by AS "updatedBy.id",
        a.sort_order,
        u.name       AS "user.name",
        r.name       AS "role.name"
    </sql>

    <sql id="userRoleJoins">
        LEFT JOIN sys_user u
        ON u.id = a.user_id
            LEFT JOIN sys_role r ON r.id = a.role_id
    </sql>

    <sql id="userRoleWhere">
        a.is_deleted = false
        <if test="user != null and user.id != null">
            AND a.user_id = #{user.id}
        </if>
        <if test="role != null and role.id != null">
            AND a.role_id = #{role.id}
        </if>
    </sql>

    <select id="get" resultMap="SysUserRole">
        SELECT
        <include refid="userRoleColumns"/>
        FROM sys_user_role a
        <include refid="userRoleJoins"/>
        where a.is_deleted = false
          and a.id = #{id}
    </select>

    <select id="findList" resultMap="SysUserRole">
        SELECT
        <include refid="userRoleColumns"/>
        FROM sys_user_role a
        <include refid="userRoleJoins"/>
        <where>
            <include refid="userRoleWhere"/>
        </where>

        <if test="page != null and page.orderBy != null and page.orderBy != ''">
            ORDER BY ${page.orderBy}
        </if>

        <if test="page != null and page.first >= 0 and page.pageSize > 0">
            LIMIT #{page.first}, #{page.pageSize}
        </if>
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM sys_user_role a
        WHERE
        <include refid="userRoleWhere"/>
    </select>

    <insert id="insert" parameterType="org.szgb.console.sys.user.entity.SysUserRole">
        INSERT INTO sys_user_role
        (user_id,
         role_id,
         created_by,
         updated_by)
        VALUES (#{user.id},
                #{role.id},
                #{createdBy.id},
                #{updatedBy.id})
    </insert>

    <update id="update" parameterType="org.szgb.console.sys.user.entity.SysUserRole">
        UPDATE sys_user_role
        <set>
            <if test="user != null and user.id != null">
                user_id = #{user.id},
            </if>
            <if test="role != null and role.id != null">
                role_id = #{role.id},
            </if>
            <if test="updatedBy != null and updatedBy.id != null">
                updated_by=#{updatedBy.id},
            </if>
            <if test="isDeleted != null">
                is_deleted=#{isDeleted},
            </if>
            <if test="version != null">
                version=#{version}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE sys_user_role
        SET is_deleted= TRUE
        where id = #{id}
    </update>
</mapper>